.cards{
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:7rem 0 3rem;
} 

 .cards__container{
    margin-top: 2rem;
   display: flex;
   flex-wrap:wrap;
   flex-direction: row;
   justify-content: center;
   
}

  .cards__title{
    display: flex;
    align-items: center;
    justify-content:center;
  } 

  