.footer{
    width: 100%;
    height:10%;
    background-color: #191A19;
    /* position: fixed;
    bottom: 0; */
    margin:auto auto;
    text-align: center;
    padding: 2% 0%;
  }

  .footerContent{
    color: white;
    display: block;
  }
  
  .icon{
    margin:1px 5px;
    color: white;
  }