.typing1 {
    /* animation: type 3s steps(20) step-end; */
    animation: type 3s steps(20, end),blink-caret 0.75s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas, "Courier New", monospace;
    border-right: 2px solid black;
    color:white;  
    width: 100%;
    font-size:8rem;
    letter-spacing:1px;
    font-weight:1900;
  }

  

  
  @keyframes type {
    0% {
      width: 0ch;
    }
    100% {
      width: 21ch;
    }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }

  .Heading {
    height:95vmin; /*just for testing purpose */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
    background-image: url(../images/backgroundImage.jpg);
    background-repeat: no-repeat;
    /* object-fit: fill; */
}

/* .backgroundImage{
  background-image: url('https://image.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg');
    background-repeat: no-repeat;
} */

@media screen and (max-width:1500px)
{
  .typing1{
    font-size: 6rem;
  }
}

@media screen and (max-width:1000px)
{
  .typing1{
    font-size: 4rem;
  }
}
