   .navbar{
     margin:1.54rem;
     padding: 0 3rem;
   }

   
  .flex{
    display: flex;
    justify-content: space-between;
  }

  

  .img__logo{
    height:40px;
    width:40px;

    background-color: black;
  }

  .nav__links{
    text-decoration: none;
  }
  
  .nav__child{
    list-style: none;
    font-size: 1.75rem;
  }

  .flex__gap{
    display: flex;
    gap:var(--gap,2rem);
  }