   
  
   ul{
     margin:0;
   }

   .navbar{
     /* margin:1.54rem; */
     padding: 1.5rem 0;
     position: fixed;  
    inset:0 0 90% 0;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
   }

  .flex{
    display: flex;
    gap:var(--gap,2rem);
  }

  .primary-navigation{
    padding: 3rem 2rem;
    margin: 0;
    background: hsl(0 0% 0% / 0.3);
    backdrop-filter: blur(1em);
  }

   .headerLogo{
    padding:1.5em 2em 1.5em 5em;
    background: hsl(0 0% 0% / 0.3);
    backdrop-filter: blur(1em);
   }

  .img__logo{
    height:40px;
    width:40px;
  }

  .mobile-toggle{
    display: none;
  }

  .nav__links{
    text-decoration: none;
    color: white;
  }
  
  .nav__child{
    list-style: none;
    font-size: 1.75rem;
  }

  /* setting up the mobile version */

  @media screen and (max-width:1000px) {
    .primary-navigation{
      position:fixed;
      inset:0 0 0 40%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: min(30vh, 7em) 0;
      --gap:3em;
      background-color: steelblue;
      height:100vh;
      background: hsl(0 0% 0% / 0.3);
    backdrop-filter: blur(1em);
    transform: translateX(100%);
    }

    .nav__child{
      font-size: 1.5rem;
    }

    /* not visible on small screen  */
    .mobile-toggle{
      display: block;
      position: absolute;
      width: 2.3rem;
      background: url(../images/Hamburger-white-small.png);
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 1;
      z-index:9999;
      top:3rem;
      right:2rem;
    }

    .mobile-toggle[data-visible="true"]
    {
      background: url(../images/cancel-white.png);
    }
  }